body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .title_page {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    height: 80%;
    padding: 20px;
    background: #010001;
  }
  
  .image-wrap {
    float: right;
  }
  .image-wrap img {
    display: block;
    width: 380px;
    height: 480px;
  }

  .description {
    font-weight: 700;
    color: #fff;
    font-size: 22px;
  }
  .my_list{
    color: #fff;
    font-size: 22px;
  }